[lang = "en"]{
    font-family: 'Gotham', 'NotoSansKR', sans-serif;
    color: #b2b2b2;
}
section{
    position: relative;
}
.inner{
    position: relative;
    width: 1300px;
    margin: 0 auto;
}

.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0,0,0,0);
}

.swiper-button-next, .swiper-button-prev{ color: #b2b2b2 !important; }
.swiper-button-next:after, .swiper-button-prev:after{
}
.mobile{ display: none; }

.btn{
    cursor: grab;
}


.jt-sub-title--block,
.section_title--block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 0 20px 0;

}
.jt-sub-title--block,
.section_title--block .tit-tx{
    font-size: 32px;
    font-weight: 900;
}
.jt-sub-title--btn,
.section_title--block .more--block{
    font-size: 17px;

}
.section_title--block .more--block a{
    display: flex;
    gap: 5px;

}
.jt-sub-title--btn span,
.section_title--block .more--block a span{
    color: #222;
    font-weight: 600;
}




.more--block{
    overflow: hidden;
}

.more--block i {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    transition: all .4s ease;
    z-index: 0;
}
.second-arrow{
    transform: translateX(-100%);
}
.more--block:hover .first-arrow{
    transform: translateX(100%);
    opacity: 0;
}
.more--block:hover .second-arrow{
    transform: translateX(0%);

}




.arrow-ic--block{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
}





@media (max-width:1400px) {
    .inner{
        width: 100%;
        padding: 0 20px;
    }
    .mobile{
        display: block;
    }
    .beginning_section .inner{
        padding: 0;
    }
}

@media (max-width:1020px) {
    .article_header--block .inner{
        padding: 0px;
    }
    .train_section .inner {
        padding: 0;
    }
}





