@import './reset.css';
@import './common.css';
@import './fonts.css';

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 600;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.header .header_inner.pc{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_inner.pc .logo--block{
    padding-right: 50px;
}
.header_inner.pc .logo--block a{
    display: block;
    width: 130px;
    height: 100%;
}
.logo--block a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header_inner.pc .nav--block{
    display: flex;
    align-items: center;
}
.header_inner.pc .nav--block .nav_list{
    display: flex;
    align-items: center;
}
.nav--block .nav_item{
    position: relative;
}
.nav--block .nav_item.active .sub_list{
    visibility: visible;
}
.header_inner.pc .nav--block .nav_item .nav_item--link{
    display: block;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: -0.025em;
    color: #222;
    text-align: center;
    padding: 25px;
    font-weight: 900;
    transition: all .5s;
}
.header_inner.pc .nav--block .nav_item .nav_item--link:hover{
    color: var(--blue-color);
}


.sub_list{
    visibility: hidden;
    position: absolute;
    top: calc(100% + 0px);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100px;
    background: #f6f6f6;

}

.sub_list .sub_item{
    padding: 10px;
    width: 100%;
}
.sub_list .sub_item a{
    display: block;
    padding: 10px;
    text-align: center;
}



.header_inner.pc .nav--block .search_ic--block{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 3.2rem;
    height: 3.2rem;
    color: #000;
    text-align: center;
    margin: 0 2.4rem;
}

.header_mobile{
    display: none;
}



.search_ic--block i {
    font-size: 25px;
}

.header .header_inner .login--block{
}
.header .header_inner .login--block .login_list{
    display: flex;
    align-items: center;
}
.header .header_inner .login--block .login_list li{
    padding: 0 20px;
}
.header .header_inner .login--block .login_list li:nth-child(2){
    position: relative;
}
.header .header_inner .login--block .login_list li:nth-child(2)::before{
    display: block;
    position: absolute;
    width: 0.1rem;
    height: 0.8rem;
    top: 0.1rem;
    left: 0;
    background: #ddd;
    content: '';
}
.header .header_inner .login--block .login_list li .login--btn{
    font-size: 15px;
}



/* sidemenu */
/* #sideMenu--wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00f;
} */
.side_menu_overlay{
    position: absolute;
    top: 0;left: 0;bottom: 0;right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    transition: all .5s;
    z-index: 999;
}

.side_menu--block{
    display: none;
    position: fixed;
    top: 0;left: 0;
    width: 100%;    
    height: 100%;
    z-index: 1000;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;

}
.side_menu--block.active{
    display: block;
    transform: translateX(0);
    transition: all 0.3s ease-in-out;

}
.side_menu--block .side_menu--inner{
    position: fixed;
    top: 0;right: 0;
    display: flex;
    width: 40%;
    height: 100%;
    flex: 1;
    height: 100%;
    flex-direction: column;
    z-index: 1000;
    background: #fff;
}
.side_menu--block .side_menu--inner .side_top--block{
    padding: 50px 40px;
    background: var(--blue-color);
}
.side_top--block .close--btn{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 32px;
}
#closeBtn{
    color: #fff;
    transition: all .5s;
}
.side_top--block .close--btn:hover i{
    transform: rotate(180deg);
}
.side_form{
    display: flex;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #fff;

}
.side_form .search_ic--block{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
}
.side_form .search_ic--block i {
    font-size: 18px;
}
.sm-search--label{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 22px;
}

.side_top--block .sm-search--block{
    background: none;
    border: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 22px;
    color: #fff;
    outline: none;
    border-radius: 0;
    margin-left: 20px;
}
.side_top--block .sm-search--block::placeholder{
    color: #fff;
}
.side_top--block .search_keyword{
    margin-top: 30px;
}
.side_top--block .search_keyword ul{
    display: flex;
    gap: 5px;
    color: #fff;
}
.side_top--block .search_keyword ul li{
    padding: 8px 15px;
    border-radius: 45px;
    border: 1px solid #f2f2f2;
    font-size: 12px;
}
.side_top--block .search_keyword ul li:first-child{
    border: none;
}




.side_bottom--block{
    display: flex;
    height: 100%;
    flex: 1;
    min-height: 0;
}
.side_bottom--block .side_bottom--left{
    display: flex;
    width: 40%;
    height: 100%;
    background: #f8f8f8;
    padding: 30px;
}
.side_bottom--block .side_bottom--left ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.side_bottom--block .side_bottom--left ul li{
}
.side_bottom--block .side_bottom--left ul li a{
    display: block;
    padding: 10px 5px;
    font-size: 18px;
    color: #a0a0a0;
    font-weight: 700;
}
.side_bottom--left ul li a span {
}
.side_bottom--left ul li a span.active{
    color: var(--blue-color);
    border-bottom: 2px solid var(--blue-color);
}
.side_bottom--block .side_bottom--right{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 40px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.side_bottom--block .side_bottom--right ul{
    display: flex;
    flex-direction: column;
}
.side_bottom--block .side_bottom--right ul li{
    color: #888;
    font-weight: 400;
    font-size: 15px;
}
.side_bottom--block .side_bottom--right ul li a{
    display: block;
    padding: 10px;
}
.side_bottom--block .side_bottom--right ul .side_right--tit{
    padding: 10px 0;
    font-size: 18px;    
    font-weight: 700;
    border-bottom: 1px solid #eee;
    color: #000;
}




.footer_totop--btn{
    position: absolute;
    top: 0;right: 5%;
    width: 70px;
    height: 70px;
    top: -20px;
    background: var(--blue-color); 
    z-index: 100;

}
.footer_totop--btn .totop_ic{
    display: block;
    position: relative;
    color: #fff;
    width: 100%;
    height: 100%;
    background: url(../img/footer/totop.svg) no-repeat 50% 50%;

}


@media (max-width:1420px) {
    .header .header_inner{
        padding: 0px;
    }
}
@media (max-width:1020px) {
    .header .header_inner.pc{
        display: none;
    }
    .header .header_inner .login--block{
        display: none;
    }
    .header_mobile{
        display: block;
    }
    .nav--block{
        display: none;
    }

    /* header_mobile */
    .header_mobile{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .header_mobile .header_mobile--top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px 0 20px;
    }
    .mobilenav--block{
        border-top: 1px solid #ddd;

    }
    .mobilenav--block .nav_list{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }
    .mobilenav--block .nav_item{}
    .mobilenav--block .nav_item a{
        display: block;
        height: 100%;
        padding: 20px 10px;
        font-size: 20px;
        color: #999999;
    }
    .mobilenav--block .nav_item a.active{
        color: var(--blue-color);
        border-bottom: 2px solid var(--blue-color);
    }




}

@media (max-width:580px){
    .mobilenav--block .nav_item a{
        font-size: 15px;
    }
}

/* @keyframes sideMenu {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);
    }
    
} */