.wrapper{}

.visual-swiper--section{
    position: relative;
    margin-top: 70px;
}
.visual-swiper--section .visual-swiper--block{}
.visual-swiper--section .visual-swiper--block .swiper{
    height: 650px;
}
.visual-swiper--section .swiper .swiper-wrapper{
    position: relative;
}
.visual-swiper--section .swiper .swiper-wrapper .swiper-slide{}
.visual-swiper--section .swiper .swiper-wrapper .swiper-slide .img--block{
    width: 100%;
    height: 100%;
    filter: brightness(0.8); 

}
#visualSwiper .swiper_control--block{
    position: absolute;
    top: 200px;
    left: 190px;
}
.playControl-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 140px;
    margin-bottom: 16px;
    width: 20px;
    height: 20px;
    z-index: 10;
    background: #ccc;
}
.playControl-wrapper.playing{
}

.playControl-wrapper span {
    cursor: grab;
}
.playControl-wrapper i {
    font-size: 12px;
    color: #fff;
}
.autoplay-btn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}



#visualSwiper .visual-pagination{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}
#visualSwiper .visual-pagination .swiper-pagination-bullet{
    border: 1px solid #fff;
    background: transparent;
    opacity: 1;
}
#visualSwiper .visual-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: #fff;
}
.visual-swiper--section .btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: transparent;
    transition: all .5s;
    border: 2px solid #eee;
    z-index: 10;
}
.visual-swiper--section .btn:hover{
    background: #fff;
    color: var(--blue-color);
}
.visual-swiper--section .swiper-button-next:after, .visual-swiper--section .swiper-button-prev:after{
    font-size: 18px;
}

.visual-swiper--section .btn.prev.swiper-button-prev{
    left: 90%;
    transform: translateY(-50px);
}
.visual-swiper--section .btn.next{
    left: 90%;
    transform: translateY(50px);
}
.visual-swiper--section .swiper .swiper-wrapper .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual-swiper--section .swiper-slide .visual-tx--block{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
}
.visual-swiper--section .swiper-slide .visual-tx--block .visual-tx--tit{}
.visual-swiper--section .swiper-slide .visual-tx--block .visual-tx--tit strong{
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 1.45;
    letter-spacing: -0.065em;
    color: #fff;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 2.9em;
}
.visual-swiper--section .swiper-slide .visual-tx--block .visual-tx--subtit{
    margin-bottom: 10px;
}
.visual-swiper--section .swiper-slide .visual-tx--block .visual-tx--subtit p{
    display: inline-block;
    vertical-align: top;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: -0.025em;
    color: #fff;
}



/* camp */
.visual-campaign--block{
    position: relative;
    top: -50px;
    z-index: 10;
    padding: 40px 0;
    background: #f6f6f6;
}
.visual-campaign--block .camp_list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.visual-campaign--block .camp_list .camp_item{
    border-right: 1px solid #ddd;
}
.visual-campaign--block .camp_list .camp_item:last-child{
    border: none;
}
.visual-campaign--block .camp_list .camp_item a{
}
.visual-campaign--block .camp_list .camp_item a:hover .camp-tx strong{
    color: var(--blue-color);
}

.camp_content{
    display: flex;
    align-items: center;
    gap: 30px;
}
.camp_content .img--block{
    width: 100px;
    height: 100px;
}
.camp_content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.camp_content .camp-tx{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 40px;
}
.camp-tx strong{
    font-size: 22px;
    font-weight: bold;
    transition: all .5s;

}
.camp-tx p{ color: #666; }

.camp_swiper_mobile.swiper{ display: none; }
#campSwiper .btn{ }
.camp_swiper_mobile .btn{
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{ }
.camp_swiper_mobile .btn.prev{ }
.camp_swiper_mobile .btn.next{}


/* slogan css */
.slogan--section{
    position: relative;
}
.slogan--section .slogan_inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.slogan--section .slogan_inner .slogan_tit--block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 0;
}
.slogan--section .slogan_inner .slogan_tit--block .tit_tx{
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: -0.065em;
    color: #222;
}
.slogan--section .slogan_inner .slogan_tit--block .subtit_tx{
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--blue-color);
    margin-top: 1.7rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--blue-color);
}
.slogan--section .slogan_inner .slogan_tit--block .desc{
    font-size: 1.4rem;
    margin-top: 1.8rem;
    font-weight: 400;
    letter-spacing: -0.04em;
    line-height: 1.67;
    color: #666;
}

.slogan--section .slogan_inner .slogan_quick--list{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 100px 0;
    gap: 20px;
}
.slogan--section .slogan_inner .slogan_quick--list .quick--item{}
.slogan_quick--list .quick--item .quick--link{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.slogan_quick--list .quick--item .quick--link:hover .quick-tx{
    padding-right: 25px;
}
.slogan_quick--list .quick--item .quick--link:hover .quick-tx::after{
    opacity: 1;
}
.slogan_quick--list .quick--item .quick--link .img--block{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: #f8f8f8;

}
.slogan_quick--list .quick--item .quick--link .img--block img{}
.slogan_quick--list .quick--item .quick--link .quick-tx{
    position: relative;
    font-size: 18px;
    font-weight: bold;
    transition: all .5s;
}
.slogan_quick--list .quick--item .quick--link .quick-tx::after{
    content: '->';
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--blue-color);
    opacity: 0;
    transition: opacity 300ms;
}




/* news */

.news_section{position: relative;}
.news_section .news_inner{
    padding: 100px 0;
}




.news_content--block{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.news_content--block .news_content_first{}
.news_content--block .news_content_first a{}
.news_content--block .news_content_first a:hover .news_title{
    color: var(--blue-color);
}
.news_content_first .img--block{
    width: 600px;
    height: 600px;
    margin-bottom: 30px;
    overflow: hidden;
}
.news_content_first .img--block:hover img{
    transform: scale(1.1);
}
.news_content_first .img--block img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s;
}
.news_content_first .news_content--tx{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.news_content_first .news_content--tx .news_cat{}
.news_cat span{
    font-size: 13px;
    font-weight: 600;
    color: var(--blue-color);
}
.news_content--tx .news_title{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
    transition: all .5s;
}

.news_content--tx .news_title h2{}
.news_content--tx .news_date{
    color: #b2b2b2;
}
.news_content_first .news_content--tx .news_more{}

.news_content_second{
    overflow: hidden;
}
.news_content_second .news_content--tx{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.news_content_second .swiper{
}
.news_content_second .swiper .swiper-wrapper{}
.news_content_second .swiper-slide{
}
.news_content_second .swiper-slide a{
    display: block;
    padding: 40px;
    width: 100%;
    height: 250px;
    border: 1px solid #ddd;
    transition: all .5s;
}
.news_content_second .news_date{

}
.news_content_second .swiper-slide a:hover{
    border: 1px solid var(--blue-color);
}
.news_content_second .swiper-slide a:hover .news_title{
    color: var(--blue-color);
}




/* begin */

.beginning_section{
    background: #f8f8f8;
}
.beginning_section .beginning_inner{
    padding: 100px 0;
}
.begin_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.begin_content .begin_tit--block{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 50px;
}
.begin_content .begin_tit--block .begin_tit--tx{
    font-size: 36px;
    font-weight: 900;
    color: #222;
}
.begin_content .begin_tit--block .begin_subtit--tx{
    font-size: 18px;
    line-height: 1.75;
    color: #666;
}
.begin_content .begin_tit--block .begin--btn{
    width: 240px;
    padding: 25px 0;
    border: 2px solid #222;
    font-size: 18px;
    font-weight: 600;
    transition: all .5s;
}
.begin_content .begin_tit--block .begin--btn:hover{
    background: var(--blue-color);
    color: #fff;
}
.begin_content .begin_list{
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.begin_content .begin_item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.begin_content .begin_item::after{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    background: #000;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    top: 50%;
    right: 0;
    margin-top: -1.5rem;
    margin-right: -70px;
    content: '>';
}
.begin_content .begin_item:last-child::after{
    display: none;
}
.begin_content .begin_item .img--block{
    width: 100px;
    height: 100px;
}
.begin_content .begin_item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.begin_content .begin_item .begin_tx{
    position: relative;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.39;
    letter-spacing: -0.025em;
    color: #222;
}






/* media */

.media_section{ padding: 100px 0; }
.media_content{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.media_content .media_content--top{
    width: 100%;
    height: 100%;
}
.media_content .media_content--top .media_list{
    display: flex;
    align-items: center;
}
.media_content .media_content--top .media_item{}
.media_content .media_content--top .media_item a{
    display: block;

}
.media_content .media_content--top .media_item a:hover .tx--block{
    border: 1px solid var(--blue-color);
    transition: all .5s;

}
.media_content .media_content--top .media_item a .img--block{
    overflow: hidden;
}
.media_content .media_content--top .media_item a .img--block:hover img{

    transform: scale(1.1);
}
.media_content .media_content--top .media_item a .img--block img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s;

}

.media_content .tx--block{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    transition: all .5s;

}
.media_content .tx--block .media_cat{
    font-size: 16px;
    font-weight: 900;
    color: var(--blue-color);
}
.media_content .tx--block .media_cat span{}
.media_content .tx--block .media_cat span:last-child{
    position: relative;
    padding-left: 20px;
    color: #6c9bc5;
}
.media_content .tx--block .media_cat span:last-child::before{
    content: '';
    display: block;
    width: 0.1rem;
    height: 0.7rem;
    background: #ddd;
    position: absolute;
    top: 1px;
    left: 8px;
}
.media_content .tx--block .media_title{
    font-size: 24px;
    font-weight: 700;
    color: #222;
}
.media_content .tx--block .media_meta{}
.media_content .tx--block .media_meta span{
    position: relative;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.025em;
    line-height: 1;
    color: #666;
    margin-right: 1.2rem;
}
.media_content .tx--block .media_meta span:nth-child(1)::after,
.media_content .tx--block .media_meta span:nth-child(2)::after{
    content: '';
    display: block;
    width: 0.1rem;
    height: 0.7rem;
    background: #ddd;
    position: absolute;
    top: 50%;
    right: -0.7rem;
    margin-top: -8px;
}
.media_content .tx--block .media_meta span:nth-child(3){
    color: #b2b2b2;
}



.media_content--down{
    position: relative;
}
.media_content--down .swiper{}
.media_content--down .swiper .swiper-wrapper{}
.media_content--down .swiper .swiper-wrapper .swiper-slide{}
.media_content--down .media_swiper_btn--wrapper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    background: #ccc;
}
.media_content--down .btn{
}
.media_content--down .btn.prev{
    left: -50px;
}
.media_content--down .btn.next{
    right: -50px;
}
.media_content--down .swiper .swiper-wrapper .swiper-slide a{}
.media_content--down .img--block{
    transition: all .5s;
    overflow: hidden;
}
.media_content--down .img--block:hover img{
    transform: scale(1.01);
}
.media_content--down .img--block img{
    transition: all .5s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.media_content--down .media_tx--block{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.media_content--down .media_tx--block .media_cat{
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.025em;
    color: #0f4c82;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.media_content--down .media_tx--block .media_title{
    font-size: 22px;
    font-weight: 800;
    line-height: 1.19;
}
.media_content--down .media_tx--block .media_date{}





/* photo */
.photo_section{}
.photo_section .photo_inner{
    padding: 100px 0;
    background: #f6f6f6;
}

.photo_section .swiper{
    overflow: inherit;
}
.photo_section .swiper .swiper-wrapper{
}
.photo_list{
    display: flex;
    gap: 20px;
}
.photo_section .swiper-slide{
    width: 300px;
}
.photo_section .swiper-slide a{
    position: relative;
}
.photo_section .swiper-wrapper .swiper-slide a:hover .photo_tx--block{
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.5);
    visibility: visible;
}
.photo_section a .img--block{
    width: 300px;
    height: 300px;
}
.photo_section a .img--block img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.photo_section a .photo_tx--block{
    visibility: hidden;
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    transition: all .5s;
}
.photo_section a .photo_tx--block p{
    font-size: 20px;
    color: #fff;
}





/* sns only mobile */

.sns_section--mobile{
    display: none;
    padding: 50px 0;
}
.sns_section--mobile .sns_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.sns_section--mobile .sns_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.sns_section--mobile .sns_item a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.sns_section--mobile .sns_item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f6f6f6;
    border-radius: 50%;
    width: 73px;
    height: 73px;
    font-size: 30px;
}












@media (max-width:1330px) {

    .visual-swiper--section .btn{
        display: none;
    }
    /* slogan */
    .slogan--section .slogan_inner .slogan_quick--list{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,auto);
        padding: 50px 0;
        width: 100%;
        gap: 10px;
    }
    .slogan--section .slogan_inner .slogan_tit--block .tit_tx{
        font-size: 2rem;
    }
}







@media (max-width:1020px) {


    /* common */
    .main_section_separator{
        display: block;
        width: 100%;
        height: 10px;
        background: #eee;
        border-top: 0.1rem solid #ddd;
    }
    .section_title--block{
        padding: 20px 0;
    }

    /* camp */
    .camp_swiper_mobile.swiper{
        display: block;
    }
    .visual-campaign--block{
        padding: 0;
        top: 0;
    }
    .visual-campaign--block .camp_list{
        display: none;
    }
    .visual-swiper--section .visual-swiper--block .swiper{
    }

    .camp_swiper_mobile{}
    .camp_swiper_mobile .camp_list{}
    .camp_swiper_mobile .camp_content{
        padding: 20px 50px;
        margin-bottom: 10px;
    }

    /* slogan */
    .slogan_quick--list .quick--item .quick--link .img--block{
        width: 6rem;
        height: 6rem;
    
    }


    /* news */
    .news_section .news_inner{
        padding: 50px 0;
    }
    .news_content_first .img--block{
        width: 100%;
        height: 100%;
    }
    .news_content--block{
        flex-direction: column;
        padding: 20px;
    }
    .news_section .section_title--block{
        padding: 20px 20px;
    }

    /* begin */
    .begin_content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .begin_content .begin_tit--block{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-right: 0px;
    }
    .begin_content .begin_list{
        position: relative;
        padding-top: 50px;
        width: 100%;
    }
    .begin_content .begin_list::after{
        content: '';
        display: block;
        width: 100%;
        height: 0.1rem;
        background: #ddd;
        position: absolute;
        top: 153px;
        left: 0;
    }
    .begin_content .begin_item{
        text-align: center;
        flex: 1;
        gap: 80px;
    }
    .begin_content .begin_item::after{
        display: none;
    }
    .begin_content .begin_item .begin_tx::after{
        content: '';
        display: block;
        width: 0.5rem;
        height: 0.5rem;
        background: #ddd;
        border-radius: 50%;
        position: absolute;
        top: -40px;
        left: 50%;
        margin-left: -0.3rem;
    }
    .begin_content .begin_item .img--block{
        width: 60px;
        height: 60px;

    }
    .begin_content .begin_tit--block .begin--btn{
        position: absolute;
        bottom: -80px;
        width: 200px;
        padding: 15px 0;
    }

    /* media */
    .media_content .media_content--top .media_item{
    }
    .media_content--down .swiper .swiper-wrapper .swiper-slide{
        width: 200px;
    }


    /* photo */
    .photo_section .photo_swiper_content{
        padding: 0 20px;
    }
    .photo_list{
        display: grid !important;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,auto);
        gap: 10px;
    }
    .photo_section .swiper-slide{
        width: 100%;
        height: 140px;
    }
    .photo_section a .img--block{
        width: 100%;
        height: 100%;
    }
    .photo_section a .photo_tx--block{
        display: none;
    }



    /* ask */
    .ask_section .ask_content{
        display: flex;
        justify-content: space-between;
        padding: 100px 0;
        gap: 100px;
    }




    /* sns only mobile */

    .sns_section--mobile{
        display: block;
        padding: 50px 0;
    }

}